#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 95px;
	width: 269px;
	padding: 20px;
	clear: both;
}

input[type="text"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 450px;
	height: 25px;
}

.header {
	display: block;
	float: right;
}

li {
	display: inline;
	padding: 5px;
}

ul {
	display: inline;
}

button {
	display: inline;
	margin: 0 auto;
}

.footer {
	background: #f2f2f2;
	position: absolute;
	min-width: 100%;
	line-height: 40px;
	bottom: 0;
	ul {
		padding: 0 0 0 20px;
	}
	.footer-left {
		float: left;
		margin: 0;
	}
	.footer-right {
		float: right;
		margin: 0;
		margin-right: 20px;
	}
}