#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 95px;
	width: 269px;
	padding: 20px;
	clear: both;
}

input[type="text"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 450px;
	height: 25px;
}

#header {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: right;
}

li {
	display: inline;
	padding: 5px;
}

button[type="button"] {
	display: inline;
	margin: 0 auto;
	
}